#env
.env*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Flask
instance/
.webassets-cache

# React
node_modules/
/frontend/build
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo 

#project roadmap
z_project_roadmap/
zz_project_roadmap/

#txt
thinking.txt
media.txt
understanding.txt
backlog.txt

#cursor
cursor.md

# Testing
htmlcov/
.coverage
.pytest_cache/
*.pyc
__pycache__/

#local logs
app.log
errors.log

#google SSO client secret
google_sso.json